

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #22254b;
  color: white;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-between;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
  /* height: 85px; */
}

.title {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;

  /* font-family: "Archivo Black", sans-serif; */
  font-size: 25px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.search {
  margin-right: 50px;
  margin-top: 13px;
  justify-content: flex-end;
  background-color: transparent;
  font-family: inherit;
  border: 2px solid #22254b;
  border-radius: 50px;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  color: white;
}

.search:focus {
  overflow: 0;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 1rem;
  width: 300px;
  background-color: #373b69;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}

.movie img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.movie-overview {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0%;
  color: black;
  padding: 1rem;
  overflow: auto;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.4s ease-in-out;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
}

.tag {
  background-color: #22254b;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: bold;
}

.tag.green {
  color: green;
}

.tag.orange {
   color: orange;
}

.tag.red {
  color : red;
}

.next-page {
  text-align: center;
  display: inline;
  list-style: none;
  justify-content: space-between;
}

.next-page li {
  display: inline;
  justify-content: space-between;
  /* padding: 1rem; */
  margin: 10px;
}

.next-page li:hover {
  cursor: pointer;
}